<h1 mat-dialog-title>Offboarding Confirmation</h1>
<form [formGroup]="form">
  <div mat-dialog-content>
    <mat-form-field class="!flex">
      <mat-label>Receiver</mat-label>
      <input matInput formControlName="receiver" />
      @if (form.get('receiver')?.hasError('required')) {
        <mat-error> Receiver is required </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="!flex">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      @if (form.get('email')?.hasError('required')) {
        <mat-error> Email is required </mat-error>
      }
      @if (form.get('email')?.hasError('email')) {
        <mat-error> Invalid email </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="!flex">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
      @if (form.get('phone')?.hasError('required')) {
        <mat-error> Phone is required </mat-error>
      }
      @if (form.get('phone')?.hasError('pattern')) {
        <mat-error> Invalid phone number </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="!flex">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" />
      @if (form.get('street')?.hasError('required')) {
        <mat-error> Street is required </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="!flex">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" />
      @if (form.get('city')?.hasError('required')) {
        <mat-error> City is required </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="!flex">
      <mat-label>Postal Code</mat-label>
      <input matInput formControlName="postalCode" />
      @if (form.get('postalCode')?.hasError('required')) {
        <mat-error> Postal Code is required </mat-error>
      }
      @if (form.get('postalCode')?.hasError('pattern')) {
        <mat-error> Invalid postal code </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="!flex">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country">
        @for (country of countries; track country) {
          <mat-option [value]="country">{{ country }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="!flex">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notes"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="close()">Cancel</button>
    <button mat-button [disabled]="form.invalid" (click)="confirm()">Confirm</button>
  </div>
</form>
